<script>
    function redirectToUrl(url) {
        location.href = url;
    }
</script>
<div class="sidebar">
    <div class="widget-form">
        <div>
            <input class="widget" type="submit" value="login" onclick="redirectToUrl('{{ absolute_url(path('loginPage')) }}')"/>
        </div>
        <div>
            <input class="widget" type="submit" value="general" onclick="redirectToUrl('{{ absolute_url(path('mainPage')) }}')"/>
        </div>
        <div>
            <input class="widget" type="submit" value="profile" onclick="redirectToUrl('{{ absolute_url(path('profilePage')) }}')"/>
        </div>
        {% if isAdmin %}
            <div>
                <input class="widget" type="submit" value="report" onclick="redirectToUrl('{{ absolute_url(path('reportPage')) }}')"/>
            </div>
        {% else %}
            <div>
                <input class="widget" type="submit" value="basket" onclick="redirectToUrl('{{ absolute_url(path('basketPage')) }}')"/>
            </div>
        {% endif %}
    </div>
</div>