{% extends 'base.html.twig' %}
{% block body %}
    <script>
        function redirectToUrl(url) {
            location.href = url;
        }
    </script>
    <div class="page_content">
        {{ isAdmin }}
        {% include 'components/sidebar/sidebar.html.twig'
            with {'isAdmin': isAdmin } %}
        <div class="general_content">
            <form class="widget-search" method="get">
                <input class="widget-input" placeholder="Search some..." type="text" name="searchText" id="general-search-value" />
            </form>
            <div class="general_products">
            {% for product in products %}
                <div class="widget_product" onclick="redirectToUrl('{{ product.link }}')">
                    <img class="product-image product-image-preview" src="{{ asset(product.image) }}" alt="Картинка не загрузилась"/>
                    Наименование: {{ product.name }}
                    Стоимость: {{ product.cost }}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}